<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".screens.application.ScrapwalaApplication"

        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScrapWala"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name="com.scrapwala.screens.splash.ui.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScrapWala">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.scrapwala.screens.onboarding.ui.OnboardingActivity" />


        <activity android:name=".screens.login.ui.LoginActivity" />
        <activity android:name="com.scrapwala.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.scrapwala.screens.pickups.PickupsActivity"
            android:exported="false" />

    </application>

</manifest>